# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env

# Node
node_modules/
frontend/node_modules/

# Build files
dist/
frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local files
*.local

# Editor files
.vscode/
.idea/
.DS_Store